.message {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  width: fit-content;
  min-width: 400px;
  padding: 2px;
  background-color: #ffffffd8;
  border-radius: 10px;
  font-size: 15px;
}

.message__time {
  color: gray;
  font-weight: 300;
  font-size: 14px;
  padding-left: 5px;
}

.message__info {
  padding-left: 10px;
}

.message__info > p {
  padding-top: 2px;
}
