.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #340e36;
    opacity: 0.9;
  }
  
  .sidebarOption__icon {
    padding:5px;
    font-size: 15px;
  }
  
  .sidebarOption__channel {
    padding: 10px 0px;
  }
  
  .sidebarOption__hash {
    padding: 10px;
  }
  
  .sidebarOption > h3 {
    font-weight: 500;
    font-size: small;
  }